[2015-06-15 12:33] hadley opened #1 "License should be CC0?"
Since it's primarily a data package, and http://www.naturalearthdata.com/about/terms-of-use/

[2015-06-15 12:41] AndySouth commented on #1
Thanks. done.

[2015-06-15 12:41] #1 closed

[2015-06-16 21:04] AndySouth opened #2 "a plan for rnaturalearth"
@karthik @hadley @hrbrmstr

I have put a brief plan for rnaturalearth into the readme here : https://github.com/AndySouth/rnaturalearth/blob/master/README.md

Comments/input welcome both in the plan and implementation.

Thanks.

[2015-06-16 21:12] hadley commented on #2
I like it! Comments:

* I'd recommend picking function names to match USAboundaries, e.g. `world_countries()`, `world_states()` (would be nice to have a better word for admin level 1, 2 etc)

* I think it might be better not to have any joining functions in this package - it would be better focus as much as possible on the data. Joins are complicated!

* I'm not sure I'd worry about picking compre

[2015-06-17 11:13] AndySouth commented on #2
Thanks, that's useful.

Re joins, it is because users have difficulty with them that I thought they should be in there ;-) Happy to start without. Do you have a vision for how users will join their data to the maps ?

[2015-06-17 11:36] hadley commented on #2
Joins are hard because I think there are multiple ways to do them - via sp, base, dplyr, data.table, ...

[2015-07-20 12:08] hadley commented on #2
Is there anything I can do to help kick this into motion? I'd really like to be able to cite it in the book, which I need to have done in 3 weeks (rnaturalearth doesn't need to be on CRAN, but it at least needs to be heading in that direction). I think it's reasonable to just focus on the data (rather than the tools) for the first version.

[2015-07-20 12:21] AndySouth commented on #2
What you've just done may be enough to kick me into motion! I'm busy with
other stuff, but the chance to get it cited is a big incentive. Getting
selected maps in is an easy first step. Tools to allow users to import
other maps from natural earth may be less straightforward e.g. decision
about whether to import rgdal functions. I'll get started today.

On 20 July 2015 at 13:08, Hadley Wickham <not

[2015-07-24 15:59] AndySouth commented on #2
@hadley I've made a start, take a look. Question : do you think ne_download() which requires rgdal should be in the same or a different package ? I'm now away until Thursday next week can get back to it then.

[2015-07-31 11:40] hrbrmstr commented on #2
So, with the R-pkg-devel announcement yesterday-ish -
https://stat.ethz.ch/pipermail/r-package-devel/2015q3/000332.html - I found
that the new caretaker has: https://github.com/adeckmyn/mapdataNE

Perhaps a ping to Alex shld be done before this effort continues?

On Fri, Jul 24, 2015 at 11:59 AM, Andy South <notifications@github.com>
wrote:

[2015-07-31 12:17] AndySouth commented on #2
Thanks @hrbrmstr for the heads up.

Hello Alex, @adeckmyn, well done for taking on the maps packages and starting to get updated boundaries in there. rnaturalearth is a new package that aims to make current Natural Earth data more accessible to R users.

My initial thought is that we have slightly different objectives, rnaturalearth provides sp objects rather than the format used by maps and mapda

[2015-07-31 13:55] hrbrmstr commented on #2
Also, @adeckmyn, if you want/need any help with the maps pkgs you just took
over, @ironholds & I wld be willing to pitch in.

On Fri, Jul 31, 2015 at 8:17 AM, Andy South <notifications@github.com>
wrote:

[2015-07-31 14:26] adeckmyn commented on #2
Hi,
News travels fast, even my github has been tracked:)
Thanks for the offers of help & collabration. I will be posting to R-sig-Geo pretty soon, but maybe this is a good moment to discuss a bit, because there is indeed some overlap in our efforts.

The mapdataNE package on github will probably never be released on CRAN in its current form. After discussions with Ray Brownrigg, we decided that it

[2015-07-31 14:34] adeckmyn commented on #2
I should add that "maps" will only import the world country database, not much else from Natural Earth (possibly lakes and rivers). I think it should stay a simple & fast tool for basic mapping.

[2015-07-31 17:07] AndySouth commented on #2
Thanks @adeckmyn, lets keep in touch about what we're up to. Sounds like we have slightly different aims, but lets keep an eye out for where we can share effort. Hoping that your new son will come to love maps one day ;-)

[2015-07-31 20:32] hadley commented on #2
I wonder if it might be possible to automatically translate from the sp format the rnaturalearth wants to the format used by `maps()`. It would be really nice if you could use an `sp` dataset with the maps package.

[2015-07-31 20:55] adeckmyn commented on #2
It's not straightforward, I think. maps() uses polylines in a rather specific format. I have gone some way in transforming automatically (Natural Earth world map comes only as polygons, as far as I remember), but there is quite a way to go. It took me quite a bit of manual work.
Another complication is that maps() actually reads its data from disc, not from memory. So without modifying the source

[2015-08-02 18:24] adeckmyn commented on #2
I may have answered too quickly yesterday. The world maps are not the simplest format (polylines and polygon lists), but map() can also directly use data that is already in polygons (as.polygon=TRUE). Such map-class objects are simple lists with $x, $y and $names. There are more elements, and I'm not sure which ones are vital. The output of map(...as.polygon=TRUE) is such an object and can be used

[2015-08-06 15:42] AndySouth opened #3 "review"
@karthik @hadley @hrbrmstr

Would you be able to take a quick look at rnaturalearth ?

Is it useful ? Is it as useful as it could be ?

The readme describes what I'm aiming for. Broadly quick access to a subset of data and a function to download other. Have I gone too far in including too many datasets making it too big ?

Thanks

(I'm away for a couple of weeks after tomorrow.)

[2015-08-06 16:09] hadley opened #4 "Document related datasets in one file"
e.g.

[code]

Note that roxygen will automatically supply:

[code]

so you can drop them

[2015-08-06 16:10] hadley opened #5 "Split ne_download() into two pieces"
* One should just download the file (so you can cache if you use it frequently)
* One should download & load into R

[2015-08-06 16:16] hadley opened #6 "Extract out common check_scale function"
Something like this:

[code]

I personal don't think you need to allow "110" as a valid input

[2015-08-06 16:18] hadley opened #7 "Extract out common get_data() function"
I think something like this will work:

[code]

[2015-08-06 16:19] hadley opened #8 "Include code used to generate data files"
Perhaps using `devtools::use_raw_data()` convention?

(Judging from one of your comments, it looks like `stringsAsFactors != FALSE` in your loading code)

[2015-08-06 16:20] hadley commented on #3
I think you need to keep the data under five meg. I'd suggest that you put the fine level data a separate package - you can then make that available via a drat repo (perhaps the ROpenSci one?), or just via github.

More comments filed as separate issues

[2015-08-06 16:24] AndySouth commented on #3
Super, thanks, will have a go at the separate issues now.

@karthik would you like this on ROpenSci ?

[2015-08-06 18:19] AndySouth commented on #4
Thanks, done, although is it possible to get e.g. `?countries110` to work ?
I tried with `@aliases` but doesn't seem to

[2015-08-06 22:19] hadley commented on #4
Yes. You shouldn't need to do anything extra (but you might need to build and reload the package)

[2015-08-07 09:52] AndySouth commented on #4
Thanks, that worked.

[2015-08-07 09:52] #4 closed

[2015-08-27 20:53] AndySouth commented on #6
done 33229f148f7ed9d0316fca97004861b0f6f70f45

[2015-08-27 20:53] #6 closed

[2015-08-27 21:28] AndySouth opened #9 "add option to return fortified objects"

[2015-11-03 19:30] AndySouth commented on #5
@hadley Done.
[code]

[2015-11-03 21:36] AndySouth commented on #8
Moved into data-raw as suggested 8a615230fa7f0da2ff454170d0c557aba38f9e43 & 8d0bdb668422a48eb067e64cf67a36988f0184cf

stringsAsFactors set to FALSE d95856e2f7e26cbb08a1ac6d530cfd33c847e468

[2015-11-03 21:36] #8 closed

[2015-11-03 22:19] AndySouth commented on #7
I have extracted out the function as suggested. 4fa72d59512011925cb09ffec3e9eb6a076ecef5

I have kept longer `scale` & `type` checking for now as I am still unsure which data to include in the package. see #3. Some scale+type combinations may be unavailable.

[2015-11-26 15:36] #5 closed

[2015-12-10 13:27] adeckmyn commented on #2
Some months ago, @hadley proposed the possibility to convert the sp format to something useful for the 'maps' package. It turned out to be quite simple. I have had several requests for admin-1 borders for particular countries, and now have a simple tool to extract them directly from Natural Earth shape files (well, by first importing to a SpatialPolygonDataFrame). But it would be even simpler to u

[2016-06-02 10:57] andysouth opened #10 "add code coverage with covr"

[2016-08-02 12:25] Mavromatika opened #11 "ne_download() not working properly"
Hi,
I discovered this package in Hadley Wickham's book, and I think it's very useful.
I've been playing with it a bit since yesterday, and it turns out that ne_download() can't download everything that's listed in the help page.
I have tried airports, ports, railroads and they won't work (I get a 404 or a timeout error).
The command I used is :
ne_download(category="cultural", type="airports")

It

[2016-08-02 13:41] AndySouth commented on #11
Thankyou for the useful feedback.

The issue is because Natural Earth data aren't available for those at the default scale of 110. Changing to this should work for you :
`ne_download(category="cultural", type="airports",scale=50)`
`ne_download(category="cultural", type="airports",scale="medium")`

`?ne_download` shows a table of data availability at the different scales, but I'll try to add a warn

[2016-08-02 13:49] Mavromatika commented on #11
Thank you for your answer. I confirm that it works. Editing the help file would be good indeed, as the error one gets isn't very informative.

[2016-08-03 14:02] AndySouth commented on #11
Thanks @Mavromatika. I've added a check and warning message. Can you check this works for you ?
If so I'll then close the issue.
Andy

[2016-08-03 19:21] Mavromatika commented on #11
Is this the message ?
`In check_data_exist(scale = scale, category = category, type = type) :
  your combination of type, category, scale seem not to exist in the list of Natural Earth data so you may get a download fail message. Check ?ne_download or http://www.naturalearthdata.com/features/ to see data availability.`

[2016-08-03 19:40] AndySouth commented on #11
Yes. Do you find that helpful? Would you suggest anything else?

On 3 Aug 2016 8:21 pm, "Mavromatika" <notifications@github.com> wrote:

[2016-08-04 07:22] Mavromatika commented on #11
No, I think that should do. Thank you very much for your help !

[2016-08-04 07:22] #11 closed

[2017-01-04 22:33] JoshOBrien opened #12 "rnaturalearth package vignettes can't be built unless rnaturalearthdata is already installed"
... so running

    vignette('rnaturalearth', package='rnaturalearth')

as instructed by the `README.md` won't actually work for most first time users.

[2017-01-06 15:10] dpprdan opened #13 "Why all factor variables?"
Why are all attributes factor variables in `ne_countries`?

[code]

I guess this might be related to ["keep the data as close as possible to Natural Earth"](https://github.com/ropenscilabs/rnaturalearth/issues/2#issuecomment-126673385), but character and numeric make so much more sense, IMHO.

Also missings (-99, -099 (see `un_a3`)), should be coded as `NA`, IMO.

[code]

[2017-02-12 18:37] AndySouth commented on #13
Thanks @dpprdan well spotted. Both should now be fixed. Can you check ? If so I'll close the issue.

[2017-02-12 18:41] AndySouth commented on #12
Thanks @JoshOBrien I've added a suggestion to install `rnaturalearthdata` to `README.md`.

Also users should be prompted to install `rnaturalearthdata` if they use a function that requires it.

Does that work for you ? If not, can you suggest how else I can address ?

[2017-02-12 18:42] #7 closed

[2017-02-12 18:43] #3 closed

[2017-02-12 18:44] #2 closed

[2017-02-12 19:07] AndySouth opened #14 "link between rnaturalearth and rnaturalearthdata pre CRAN submission"
@sckott
Finally found time to try to submit rnaturalearth to CRAN (apologies for delay).

Just to remind you. The plan recommended by Lincoln Mullen was :

rnaturalearth CRAN
rnaturalearthdata CRAN
rnaturalearthhires rOpenSci drat repo (already there)

Because I want to submit rnaturalearth & rnaturalearthdata together I get no errors & warnings locally, but when submitting to win-builder I get.
4

[2017-02-12 21:58] dpprdan commented on #13
I just did a quick check and it looks fine to me now.
One thing I noticed only now is that quite a few variables have only one or two levels (when they were all factors) or a lot of NAs (now), e.g. `gdp_year`, `pop_year`, `fips_10`, `wikipedia` etc. `gdp_year == 0` also does not make a lot of sense, does it? So is this data missing in the source or is it an import issue. And if it's something that

[2017-02-13 22:37] sckott commented on #14
@AndySouth I'll have a look

[2017-02-13 23:41] sckott commented on #14
do you check locally with `--as-cran` ?

[2017-02-14 00:03] sckott commented on #14
I think you need to submit `rnaturalearthdata` to CRAN first - then submit `rnaturalearth` - what do you mean by

[2017-02-19 15:17] AndySouth commented on #14
Thanks @sckott I hadn't thought to submit  `rnaturalearthdata` to CRAN first, I'll do that.

Can you activate, or enable me to activate [rnaturalearthdata on travis](https://travis-ci.org/ropenscilabs/rnaturalearthdata) ?

It's telling me I don't have admin rights.

[2017-02-20 16:58] sckott commented on #14
@AndySouth Okay, travis is now on for that pkg, let me know if you need anything else

[2017-02-20 16:59] sckott commented on #14
@AndySouth you're now admin on both repos

[2017-02-24 10:13] AndySouth commented on #14
Thanks @sckott `rnaturalearthdata` now succesfully on CRAN (hurrah!)

Ready to submit `rnaturalearth`, it passes locally and on travis but when I submit to winbuilder it fails due to installation of `rnaturalearthhires`.

Would you recommend submitting to cran anyway ?

winbuilder error below : and [here](https://win-builder.r-project.org/0C9Sh7VA6lBp/00check.log)
[code]

[2017-02-24 16:54] sckott commented on #14
Awesome it's on CRAN now.

Not sure, I'll have a look

[2017-02-24 17:34] sckott commented on #14
`rnaturalearth` should pass check without packages in Suggests available - which sounds like that's not the case?

Examples in your pkg that need `rnaturalearthdata` or `rnaturalearthhires` need to be wrapped in

[code]

so examples then only run if that pkg is available

[2017-03-15 21:19] AndySouth commented on #13
Thanks, the missing data in the cases I've looked at are present in the shapefiles from Natural Earth. You might want to raise that up with them. The problems with dropping variables are that the code becomes more complex, has to choose which to drop and would need to be changed if they are fixed. All make the code difficult to maintain.

[2017-03-15 21:19] #13 closed

[2017-03-15 21:20] #12 closed

[2017-03-27 12:37] espinielli opened #15 "iso code from package countrycode"
It could be useful to consider usage of [R package `countrycode`](https://cran.r-project.org/web/packages/countrycode/index.html) for the implementation of "Potential additional data"/"dataframe with ISO3 and country synonyms"

[2017-04-01 18:09] Nowosad opened #16 "returnclass='sf' as default"
The `sf` package is becoming more and more popular. It is also a successor of the `sp` pacakge.
Perhaps it is a good idea to change a returnclass default argument to 'sf'?

[2017-05-31 01:48] NickEWilliams opened #17 "Initial install"
Hi,

Excited to play around with the package. Possibly an error on my end, but it seems that the current set up for first time installation has some issues with auto installing the dependencies, specifically httr and DBI.
Errors:
- Installation failed: there is no package called ‘httr’
and
- Error: package or namespace load failed for ‘rnaturalearth’:
 - object ‘dbExecute’ is not exported by 'name

[2017-08-02 14:33] cjyetman commented on #15
I could probably help with that here and/or in [rworldmap](https://github.com/AndySouth/rworldmap)

[countrycode repo is here](https://github.com/vincentarelbundock/countrycode) @vincentarelbundock is the maintainer

[2017-10-11 03:27] econandrew opened #19 "breakaway_disputed_areas at scale10 is HTTP 404"
Because as of right now the file is actually called

`ne_10m_admin_0_disputed_areas.zip`

without the `breakaway_`, inconsistent with other scales.

The workaround is to give the type as `admin_0_disputed_areas` and ignore the warnings.

[2018-05-16 09:40] maelle opened #20 "transfer to ropensci"
:wave: @AndySouth we no longer transfer onboarded packages to ropenscilabs but instead directly to ropensci so we should move this repo. Are you ok with my doing it? If so when would you have the time to update all links? I wouldn't transfer before you have time to do that, and it's not urgent to transfer anyway.

I see these two repos would need to be transferred at the same time:

* https://gith

[2018-05-17 11:09] AndySouth commented on #20
Thanks @maelle ! All sounds good. Can you give me a couple of weeks to look into ? I have some other updates I want to do too and I can do at the same time.

[2018-05-17 12:07] maelle commented on #20
Yes, ping me again when you're ready! Thank you!

[2018-05-18 14:51] Rekyt opened #21 "coastline problem when using world projection"
Hi @AndySouth, thank you for building `rnaturalearth` it's a great tool to draw great maps quickly.

I'm currently having a issue using worldwide coastline with certain projections. It may not be due to the package, but you maybe aware of a solution to this problem. When plotting world coastline with projections I get a weird line between each part of the world because of Russian coastline:
Here's

[2018-05-18 22:48] mdsumner commented on #21
Hi there, this is actually a generic and pervasive problem that's not got anything to do with `rnaturalearth`d - the key issue is that the longitude -180/180 is ambiguous in terms of east or west here, and low down in the transformations that ambiguity puts a coordinate on that meridian to the "wrong side".

You can workaround it by slightly cropping the lines, it works to do this on the eastern s

[2018-05-19 09:00] Rekyt commented on #21
Thanks for the idea!

I found another workaround by getting higher resolution data:
[code]

![](https://i.imgur.com/wkrzlS1.png)

[2018-05-19 09:00] #21 closed

[2018-07-02 12:12] maelle commented on #20
:wave: @AndySouth could we soon transfer the repo?

[2018-07-02 12:20] AndySouth commented on #20
Thanks for the prompt @maelle, I'll update the links in the next couple of days and get back to you.

[2018-07-02 12:23] maelle commented on #20
Cool, thank you! I can also do the transfer now, since GitHub will redirect links (whereas if you change links before the transfer, the new links will be wrong for a short while).

[2018-07-02 12:35] maelle commented on #20
We're speaking in ropensci now, and I've transferred the two other repos.

I'm actually at a loss reg Travis (.org /.com) cc @sckott do you know more about such transfers nowadays? Sorry.

[2018-07-02 16:25] sckott commented on #20
Travis is moving everyone away from travis-ci.org to travis-ci.com - looks like this pkg is at https://travis-ci.com/ropensci/rnaturalearth - i imagine builds will be done there

[2018-07-02 17:03] sckott commented on #20
nevermind, it's still at dot org https://travis-ci.org/ropensci/rnaturalearth/builds looks like it will be later in year when moves to dot com

[2018-07-04 15:44] #20 closed

[2018-07-04 16:42] AndySouth opened #22 "update stored data to Natural Earth v4.1"
https://www.naturalearthdata.com/blog/miscellaneous/natural-earth-v4-1-0-release-notes/

[2018-07-04 16:48] #9 closed

[2018-07-04 16:52] #14 closed

[2018-07-05 12:44] #22 closed

[2018-09-20 22:09] mps9506 opened #23 "Supplemental river and lake centerlines not available"
Thank you for the wonderful package.

I am not able to download the [10m river and lake centerline North American supplemental file](https://www.naturalearthdata.com/downloads/10m-physical-vectors/10m-rivers-lake-centerlines/).

[code]
Returns:
[code]

The file location is: https://www.naturalearthdata.com/http//www.naturalearthdata.com/download/10m/physical/ne_10m_rivers_north_america.zip

The re

[2018-09-21 09:43] AndySouth commented on #23
Thanks, well spotted !

The warning should now be fixed in the github version (there is a table of available layers and that wasn't in it).

Even in the CRAN version this should still work even though it does give a warning (it tries to download even if not in the table):
rivers <- ne_download(scale = 10, category = "physical", type = "rivers_north_america")

(Note not 'rivers_lake_north_america')

[2018-09-21 13:42] mps9506 commented on #23
Thanks! Works perfectly.
This might be covered already (or should be a new issue), is there a way to load `data_list_physical.csv` as a dataframe? As a user it would be easier to inspect a dataframe in R to get the filename than load the website and navigate to the file. Furthermore, having the .csv update dynamically might reduce potential issues in the future.
If that would be useful I can work

[2018-09-21 14:05] AndySouth commented on #23
Good idea Michael, feel free to submit as a new issue or PR and I can look
at next week. I had thought in past that it would be good to get the list
of available data automatically from the natural earth website but there
didn't seem to be an obvious way of doing. Open to suggestions.

On Fri, 21 Sep 2018, 14:42 Michael Schramm, <notifications@github.com>
wrote:

[2018-09-21 22:06] #23 closed

[2018-09-21 22:18] mps9506 opened #24 "Provide updated data list"
- [x] a function that returns up to date list/dataframe of vector data sources with filenames that can be used in `ne_download()`

- [ ] `check_data_exist()` could cross reference against this instead of the csv that is manually updated currently.

My suggestion is to use `httr` and the Github API to checking folders in the [Natural Earth Repo](https://github.com/nvkelso/natural-earth-vector).

[2018-09-25 12:49] AndySouth commented on #24
Thanks Michael, this looks really great !
I'm just reviewing it locally and found a couple of minor glitches in my existing code, somewhat at the edge of my git knowledge, will get back to you.

[2018-09-25 22:35] AndySouth commented on #24
Hi Michael,
I've merged your code in with a few changes.
I created a small script in  https://github.com/ropensci/rnaturalearth/blob/master/data-raw/make_table_of_data_avail.r to use your function to create two tables stored in the package for the available layers and then output these in the intro vignette. This makes it a little easier for the user.
I could still do with documenting it a little

[2018-09-26 13:31] mps9506 commented on #24
That looks great. I am not sure how to best incorporate the metadata links from a documentation perspective either. My reasons for include were: 1) it is available for users to copy into a web browser, and 2) the link is available for users to programmatically include links to source data/citations on generated maps or reports.

It would be great to be included as a contributor. I think this is a

[2019-02-25 15:17] floswald opened #26 "us county shapefile?"
hi there,

i was trying to get a shapefile with usa counties delineated. is there anything like this available in this package? thanks

[2019-02-26 18:23] mps9506 commented on #26
Natural Earth does not have shapefiles for that level of administrative unit available. I'm not sure if that is something planned or not. The [`tidycensus`](https://github.com/walkerke/tidycensus) package is pretty handy way of getting counties into R as a simple feature.

[2019-03-04 14:33] floswald commented on #26
yes that was a stupid question... the tigris package has `counties()`

thanks

[2019-03-04 14:33] #26 closed

[2019-05-21 12:03] fzenoni opened #27 "Is or isn't Crimea part of Russia?"
This is not (only) a political issue, but rather a call for consistency in the `rnaturalearth` database.

Indeed, this is what happens at the `small` scale.

[code]
![image](https://user-images.githubusercontent.com/6040873/58093597-173f9380-7bcf-11e9-8c34-b0f9153ae26b.png)

And this is what happens at the `medium` and `large` level.

![image](https://user-images.githubusercontent.com/6040873/5809

[2019-05-21 14:34] fzenoni commented on #27
Maybe related to https://github.com/ropensci/rnaturalearth/issues/19?

[2019-05-31 17:48] mps9506 commented on #27
@fzenoni I'm not the package maintainer, but my thoughts are that this package only provides an interface to access Natural Earth data. I think the best recourse is to report the discrepancies to the Natural Earth maintainers: https://www.naturalearthdata.com/corrections/

[2019-06-12 09:51] dominicroye opened #28 "Install issues"
Recently I had several times problems when a student had to use the function `ne_countries (scale = 10)`.  The rnaturalearth package was installed correctly, but it required to install again without resolving the issue. It seems that the pacckage "rnaturalearthhires" fail to download or install. I don't know why. Any thoughts about this?

Thanks!

[2019-06-12 11:34] AndySouth commented on #28
Hola, thanks for the interest.
I just tried this myself and it was OK. It does take a little while to install the hires package because it is big so that could possibly cause problems on a poor connection or slow PC. I recently had a similar issue on a train journey with a new PC, I had installed rnaturalearth but didn't have rnaturalearthhires and with no connection I couldn't use scale=10.
Let m

[2019-06-19 15:45] rix133 opened #29 "ne_download URL strange/wrong"
So after clean install using the latest "rnaturalearth" on Windows 7 (R 3.5.3):

The URL seems strange to me:
http://www.naturalearthdata.com/http//www.naturalearthdata.com/download/10m/cultural/ne_10m_admin_0_countries.zip

Command that I ran:
`countries10 <- ne_download(scale = 10, type = 'countries', category = 'cultural', returnclass = "sf")`

[code]

[2019-06-19 15:51] Nowosad commented on #29
Is the link www.naturalearthdata.com/http//www.naturalearthdata.com/download/10m/cultural/ne_10m_admin_0_countries.zip works in your browser?

[2019-06-19 15:55] AndySouth commented on #29
The command works from R for me and as @Nowosad points out should work in browser too.
(but you are right it does look a bit strange).
Must be another download issue ?

[2019-06-19 16:09] rix133 commented on #29
Actually it does, so it must be a firewall or some other problem, I have no idea ? I must investigate further. If fails with a clean install of 3.6.0 as well with the same message.

[2019-06-19 16:46] AndySouth commented on #29
The code saves the downloaded file to a temporary location, might be worth checking that this works for you :
write.csv(data.frame(), tempfile())

[2019-06-19 16:52] AndySouth commented on #29
Try this to check connection from R:
library(curl)
curl::has_internet()

[2019-06-20 07:08] rix133 commented on #29
TRUE

write.csv(data.frame(), tempfile())
gives no error

[2019-06-20 08:49] rix133 commented on #29
UPDATE:
It works if I specify download method to in download to libcurl i.e:
`utils::download.file(file.path(address), zip_file <- tempfile(), method = "libcurl")`

So I can specify global options for the `ne_download `:
[code]
yields
[code]

Should I close the issue?

[2019-06-20 09:17] AndySouth commented on #29
Thanks Richard, Good work finding a solution. Leave it open for now while I ask twitter if it's wise to set that option in the package.

[2019-06-20 09:44] barryrowlingson commented on #29
`download.file` uses this code to decide on the method:

[code]

so if `method` isn't supplied and `download.file.method` isn't set then `method` gets the default of `auto` and then the method is "internal" if the URL starts with `file:` or `libcurl` otherwise. So if your download works with explicit `method="libcurl"` but not with a missing `method` argument then the default is being got from som

[2019-06-20 10:26] rix133 commented on #29
So the error appears both in  Rstudio console and R console.
The `options("download.file.method")` returns:
 `NULL` in R console
 "wininet"`` in latest RStudio

I looked at the method deffintion on R3.5.3 and it seems to default to "wininet" if auto:
snippet from  `download.file`
[code]

[2019-07-19 16:30] dominicroye commented on #28
I still have problems in some cases. I just taught an introductory course and some students had problems again. Even with the rnaturalearthdata package. I had to install rnaturalearthdata directly for some students. The thing is that rnaturalearth is detecting that there is packages missing and ask to install but in the end it does not work. In all cases it was under Windows 10. Only in one case,

[2019-10-31 10:32] matteodefelice opened #30 "France is missing"
This happens both with the CRAN and the devtools versions of this package.

[code]
Is the same with `iso_a3` or other fields. France is missing. It is instead present when the `scale` is 110.

[2020-03-28 18:48] aveshenpillay opened #31 "Missing countries from the data set"
Would it be possible to include / update for the inclusion of the following countries in the data set? I cannot see them in the following call:

`world_map <- ne_countries(returnclass = "sf")`

Country | ISO3 Code
-- | --
Andorra | AND
Antigua and   Barbuda | ATG
Bahrain | BHR
Barbados | BRB
Cabo Verde | CPV
Dominica | DMA
Grenada | GRD
Holy See | VAT
Kosovo | XKX
Liechtenstein | LIE
Maldives | MD

[2020-03-30 13:17] mps9506 commented on #30
I was wondering if this is still an issue? It is working for me.

[code]

[2020-03-30 13:50] mps9506 commented on #31
Try the following:

[code]

This should return all the countries in your list. However, the ISO3 code in the dataset for Kosovo is KOS.

[2020-03-30 14:02] matteodefelice commented on #30
It's still an issue, both , bdownloading `rnaturalearth` from CRAN or from the github repository.

[2020-03-30 18:42] mps9506 commented on #30
Can you provide your `sessionInfo()`?

Also what does the non-filtered `eu_sf` return?

[2020-03-31 07:53] matteodefelice commented on #30
`eu_sf` is this (showing only the first lines of output)
[code]

This is my `sessionInfo`:
[code]

[2020-03-31 18:09] mps9506 commented on #30
For some reason I end up with a different simple feature. The order and number of variables that my `eu_sf` ends up different. It might be worth trying to update the `rnaturalearthdata` package. I don't know if that will fix it though.

So I used the `ne_download` function and ended up with (I think) the same data you have (note that the variable names are capitalized here):
[code]

However, when

[2020-03-31 20:42] aveshenpillay commented on #31
Worked perfectly, thank you!

[2020-03-31 20:42] #31 closed

[2020-04-01 06:36] matteodefelice commented on #30
Thanks, using fips_10 works but of course is not the same, I want to use ISO codes. It is curious that ne_download and ne_countries return different things.

[2020-04-01 12:41] mps9506 commented on #30
Understandable.
I dug around some more. It looks like the missing ISO codes are a tracked issue over in the Natural Earth repo: [https://github.com/nvkelso/natural-earth-vector/issues/284#issue-425441544](url)

[2020-04-10 18:49] RamiKrispin opened #32 "Switzerland map - typo on the postal field?"
Hi, I am trying to use the `ne_states` function to pull the Switzerland map information and to merge it with canton data I have. I am using the `postal` field and I think there is a typo with the value of Canton of Obwalden that should be `OW` as oppose of `NW` which represents Canton of Nidwalden:

[code]
Thanks,
Rami

[2020-04-25 12:48] RamiKrispin opened #33 "Italy - changes in provinces in Sardegna region"
Hi,

I am working with Italy data, and I noticed that the provinces of Sardegna region in Italy are not updated:

[code]

On 2016, the provinces Carbonia-Iglesias, Medio Campidano, and some part of Cagliari were merged into new province - South Serdinia (source (Wikipodia)[https://en.wikipedia.org/wiki/Province_of_South_Sardinia]).

Therefore, when plotting Italy provinces, with the new provinces

[2020-04-25 12:52] Nowosad commented on #33
@RamiKrispin I believe that the **rnaturalearth** package is just an interface for the data from https://www.naturalearthdata.com/. You probably should point them to this problem using https://www.naturalearthdata.com/issues/.

[2020-04-25 12:53] RamiKrispin commented on #33
Thanks, will do

[2020-06-25 02:55] AltfunsMA opened #34 "Listing available country names"
To my surprise `ne_countries(country = "United States")` or `ne_countries(country = "USA")` do not work but `ne_countries(country = "United Kingdom")` does.

I searched `countries110` and found "United States" as a country descriptor so I thought it was a bug, rather than just the fact that I had to type `ne_country(country = "United States of America")`. It is unclear which field should be used f

[2020-08-03 17:43] jessexknight commented on #34
I have spent the last 3 hours trying to plot a complete map of Africa!

The fact that `X = ne_countries(country=...)` does not use the same strings as `X$name` or even `X$name_long` is **highly** unexpected behaviour.

[2020-08-03 19:04] Nowosad commented on #34
(@jessexknight it would be probably easier just to download the world country map and then subset it by the continent name)

[2020-08-03 19:16] jessexknight commented on #34
Thanks but I my data are for _Sub-Saharan_ Africa only, and in general I think it is reasonable to select countries arbitrarily by name.

[2020-08-03 20:27] mps9506 commented on #34
I realize the naming is sometimes inconsistent in the natural earth source files (the use of "united states" versus "united states of america". However, the subset of names useful for the country argument in `ne_countries()` is the admin field in the natural earth source files. One way to access those names is:

[code]

[2020-08-03 23:33] AltfunsMA commented on #34
If I may, improving on the example of `lubridate::OlsonNames()`, it'd be great to have a function with a straightforward name like `CountryNames()` that outputs the full list of the admin field and reference that in the documentation under the `country` argument for `ne_countries`.

Even better could be a `GeoNames()` that outputs a dataframe with `countries` (even if it's called "admin" in the or

[2020-08-04 13:26] kguidonimartins commented on #34
`{rnaturalearth}` is an excellent package (thanks to @andysouth) with the most complete information out there about countries. With this in hand, you can just filter out what you want. Would that below be a satisfactory result for you?

[code]

![](https://i.imgur.com/9uXxEck.png)

<sup>Created on 2020-08-04 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

I made a function to

[2020-08-04 14:13] andysouth commented on #34
Thanks All,

Useful discussion.

I feel your pain @AltfunsMA, @jessexknight, I've been there many times. Country naming is a minefield, I would love to have the time to make better solutions.

Great stuff @kguidonimartins using `filter_all` , `any_vars` and `str_detect` is a genius way to subset Sub-Sahran countries, I wouldn't have known how to do that.

Incidentally @jessexknight we are part way

[2020-08-04 22:54] AltfunsMA commented on #34
@kguidonimartins , super`dplyr` to the rescue! XD
@andysouth , the package is great as it is; these are really minor tweaks! Thanks so much for your work!

[2020-08-20 07:31] RussellGrayxd opened #35 "South American continent incorrectly includes Central America"
library(rnaturalearth)
library(sp)
#world countries
sDPF <- ne_countries()
sPDF.SA <- subset(sPDF, continent == "South America")
plot(sPDF.SA)

This subset includes Central America which is part of North America, not South America.

[2020-09-23 12:15] JimShady opened #36 "ne_download bug?"
Hi all,

This works:

`ne_download(scale = 50, type = 'breakaway_disputed_areas', category = 'cultural')`

But this does not

`ne_download(scale = 10, type = 'breakaway_disputed_areas', category = 'cultural')`

According to the first table on this page, it should do I believe?

https://docs.ropensci.org/rnaturalearth/

![image](https://user-images.githubusercontent.com/2901470/94011217-f547b980-fd

[2020-09-23 13:23] mps9506 commented on #36
Hi Jim,

I believe there are some inconsistencies in the file naming (among other naming conventions) in the Natural Earth dataset. If you install the dev version of rnaturalearth:
[code]
there is a function to see the currently available datasets. This info is pulled from the [Natural Earth github repo](https://github.com/nvkelso/natural-earth-vector) so should be up to date.

[code]

which retur

[2020-09-23 14:08] JimShady commented on #36
Awesome, thanks @mps9506 .

[2020-09-23 14:08] #36 closed

[2020-10-20 00:10] ryanpeek opened #37 "install of hires data glitch..."
Hi, great package, just wanted to mention a glitch in installing the hires data...

When running the following code:
`mex_sf <- ne_states(country="Mexico", returnclass = "sf")`

I'm asked to install the hires data...but upon trying to do so I get an error message: "Connection not found".

I went to this repo and followed the readme code:
[code]

This also didn't work. I got several different error

[2020-10-30 22:03] John-R-Wallace-NOAA opened #38 "ne_countries() with returnclass = "sf" crashes in CentOS 7 Linux"
ne_countries() function in rnaturalearth version 0.2.0 under R version 4.0.1 on a Linux server:

Operating System: CentOS Linux 7 (Core)
Architecture: x86-64

crashes:

      *** caught segfault ***
     address (nil), cause 'unknown'

     Traceback:
      1: CPL_crs_from_input(x)
      2: make_crs(x)
      3: st_crs.character(x@projargs)
      4: st_crs(x@projargs)
      5: st_crs.CRS(x@proj4str

[2020-11-08 15:25] jrosen48 opened #39 "Download data for parks and protected lands?"
Thanks for creating an incredible package! Is it possible to download data for parks and protected lands?

It is not listed as available [in the README](https://github.com/ropensci/rnaturalearth)(below the heading "To download Natural Earth data not already in the package"), but is listed on the Natural Earth website:

https://www.naturalearthdata.com/downloads/10m-cultural-vectors/

[2020-11-08 21:27] andysouth commented on #39
Thanks @jrosen48

It is possible to download most layers from natural earth using `ne_download()` but I hadn't noticed before that it doesn't work for the parks layers. This is because there are separate layers for area, line and point within the zip stored in the Natural Earth website.

This means that the code I expected to work (below), does download the data but then fails to load it.

Afraid

[2020-11-17 16:49] mstrimas opened #40 "ne_download() no longer working, curl requires referrer URL to be set"
`ne_download()` recently started running into a `HTTP status was '500 Internal Server Error'` error. This appears to be the same issue as outlined here on the Natural Earth GitHub repo: https://github.com/nvkelso/natural-earth-vector/issues/434

The fix apparently requires setting the "referrer URL", which can be done with curl as follows:

[code]

However, it's not clear to me how to do this with

[2020-11-19 19:23] andysouth commented on #40
Many thanks for the heads up and explanation. I'll look into further.

[2020-11-20 09:18] andysouth commented on #40
This seems to have been fixed. Quick test of `ne_download()` now works for me. How about you @mstrimas ?

[2020-11-23 05:59] mstrimas commented on #40
Working again for me too, thanks!

[2020-11-23 05:59] #40 closed

[2020-11-28 04:36] jaseeverett commented on #37
I had the same problem on macOS Big Sur. Installing from GitHub worked perfectly. Thanks for the tip.
`devtools::install_github("ropensci/rnaturalearthhires")`

[2020-12-02 23:00] aveshenpillay opened #41 "rnaturalearth installation error"
Good day, I tried a function call using `ne_countries` and got the could not find function error. I then tried to install rnaturalearth, but that gave me another error. Screen shots of the error and my system specs are attached. Thanks!

<img width="429" alt="Screenshot 2020-12-03 at 00 57 50" src="https://user-images.githubusercontent.com/27091888/100941806-e8fc7d00-3502-11eb-8a02-37d529852cd2.pn

[2020-12-03 09:11] andysouth commented on #37
Thanks @ryanpeek @jaseeverett

Strange, I've just checked on windows and this does work for me.

`install.packages("rnaturalearthhires",
                 repos = "http://packages.ropensci.org",
                 type = "source")`

@sckott do you know a reason why that doesn't work on macOS ?

[2020-12-03 16:11] sckott commented on #37
Not sure why that install using packages.ropensci.org didn't work. worked for me, but i'm not on big sur yet. There's also `install.packages("rnaturalearthhires", repos = "https://dev.ropensci.org")` - that should have binaries for windows/macos

[2020-12-03 20:54] jaseeverett commented on #37
Hmm. Very weird. I just tried again and it works for me now. I tried on about 3 seperate occasions last week and it wouldn't work. Thanks for looking into it @sckott and @andysouth

[2020-12-03 21:02] ryanpeek commented on #37
Same, I'm on Mojave still and it worked just now when I tried. Something has been updated or is now correctly linked. I'll close this issue now. Thanks all!

[2020-12-03 21:02] #37 closed

[2020-12-10 12:36] petrpajdla commented on #29
Having the same issue on Linux, R version 4.0.3 with `rnaturalearth` version 0.1.0 and 0.2.0.

[code]
[code]

`ne_download()` returs weird link (no problem with internet connection, `curl::has_internet()` returns `TRUE`, the link does not work in the browser either w/o firewall, wordpress returns `There has been a critical error on your website.`)

[code]

`rnaturalearth` version 0.1.0 returns:
[c

[2020-12-30 03:27] rmgriffin commented on #29
Same issue here

[2021-01-13 19:03] Grelot commented on #29
Same issue with Windows 10 rnaturalearth 0.1.0. and r 4.3

[code]

[2021-02-17 11:34] jbracher opened #42 "Problem loading data for Czechia and Bosnia and Herzegovina"
I just ran into a little hiccup trying to load data for Czechia/Czech Republic:

[code]

In this blog entry https://www.naturalearthdata.com/blog/miscellaneous/natural-earth-v4/ it says Czechia was now used. Maybe this switch broke something? Or am I overlooking something?

Edit: I experienced a similar problem for Bosnia and Herzegovina.
[code]

Thanks a lot for this otherwise fantastic package!

[2021-02-18 15:15] mps9506 commented on #42
Just for background, the country argument searches for matches in the admin field. The following works for me:
[code]

If the above doesn't work, maybe double check the rnaturalearth and rnaturalearthdata are up to date.

For Bosnia and Herzegovina the following works for me:
[code]

[2021-03-16 00:47] davidhodge931 opened #44 "v0.2 not on CRAN"

[2021-03-16 03:34] davidhodge931 opened #45 "Feature request: could the ne_states function have a scale argument with small, medium & large options?"

[2021-04-12 06:40] eosduero opened #46 "Fail install in Ubuntu20 LTS and Rv4.0"
I have this error installing:
`> install.packages("rnaturalearth")
Installing package into ‘/home/enrique/R/x86_64-pc-linux-gnu-library/4.0’
(as ‘lib’ is unspecified)
probando la URL 'https://cloud.r-project.org/src/contrib/rnaturalearth_0.1.0.tar.gz'
Content type 'application/x-gzip' length 193162 bytes (188 KB)
==================================================
downloaded 188 KB

* installing *s

[2021-04-28 18:09] bienflorencia commented on #29
I believe is related to the 'http' being used, instead of 'http**s**' in the `ne_file_name` function.
Is there a way to change this locally so it works?

[code]

[2021-05-06 00:48] jmarshallnz commented on #29
It appears to be a new issue on the website. If you go directly to the website and browse, you get a link the same as in the R package (though https:// vs http://). If you click on the link it invokes an `onclick` event that goes through `urchinTracker`. If you copy the link into a browser it fails with a Wordpress problem. Possibly some issue with redirection?

Thus, the `ne_download()` function

[2021-05-07 05:17] nvkelso commented on #29
This should be fixed now.

[2021-09-17 09:51] sbegueria opened #47 "Bad url in function install_rnaturalearthhires()"
In function install_rnaturalearthhires() you try to use the following url:

... repos = "http://packages.ropensci.org", type = "source")

but that doesn't work because the site uses https. The command should be:

... repos = "https://packages.ropensci.org", type = "source")

[2021-09-24 22:06] dlebauer commented on #29
I just ran into this error with R 4.0.2, rnaturalearth 0.1.0 (https://github.com/ropensci/rnaturalearth/commit/543e3cbc2c913724ed66e742f0b8c38828ef1002) current version in the repository), Windows 10

[code]

<sup>Created on 2021-09-24 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

<details style="margin-bottom:10px;">
<summary>
Session info
</summary>

[code]

</details>

[2021-09-29 16:12] nvkelso commented on #29
There's a [GIST](https://github.com/nvkelso/natural-earth-vector/issues/581#issuecomment-916250782) showing where to find the files on S3.

[2021-09-29 18:36] nvkelso commented on #29
For CI and build systems you should switch to the direct S3 URLs as AWS sponsors now via their public data program.

[2021-10-11 19:14] andysouth commented on #47
Thanks @sbegueria this should now be fixed by using the github version. Feel free to re-open if it is still an issue for you.

[2021-10-11 19:54] andysouth opened #48 "change urls to cope with new Amazon hosting of NaturalEarth"
NaturalEarth has recently changed hosting of data - seems that redirection works in most cases.

NVKelso asks that resources particularly those using CI point to the new addresses.
https://github.com/nvkelso/natural-earth-vector/issues/581#issuecomment-913988101

[2022-01-03 00:11] AMBarbosa opened #49 "'ne_download': add 'sv' (SpatVector) to 'returnclass' options"
The 'terra' package is becoming widey used and it replaces not only 'raster' but also 'sp' (and 'rgdal'). So, it would be highly relevant to add the 'SpatVector' class to the `ne_download` 'returnclass' options, and eventually even have it replace the default 'sp' class when it becomes obsolete. Cheers!

[2022-01-03 00:16] AMBarbosa opened #50 "'ne_download': check if map already exists in 'destdir'"
It could save a lot of time and energy if `ne_download` first checked if a file is already in 'destdir' before downloading it. If it is, the function could just import the map that's already there. (Or you could add an argument to optionally re-download and overwrite the map if explicitly wanted.) Cheers!

[2022-01-04 22:59] benyamindsmith opened #51 "How to use `ne_states()` with `ggplot()`"
Is it possible to use the data from `ne_states()` with ggplot2?

From the documentation it seems like its only "out of the box computable" with base R's `plot()` function.

I'm asking because `ne_countries()` seems to work pretty well and is pretty easy to read as far as output is concerned because its a tibble is outputted. `ne_states()` returns a list which is hard to understand exactly *what* n

[2022-01-17 09:53] #48 closed

[2022-02-04 15:54] mps9506 commented on #51
You only need to add the return_class argument to specify that the function returns an object of type sf. This should work with any of the natural earth functions:

[code]

[2022-02-14 20:23] AndyBunn opened #53 "Coastline rendering with World Robinson (etc) projection"
Not sure if this is a bug exactly. But I'm wondering about getting a clean coastline plot with the 110 scale. E.g., this looks fine:

[code]

Whereas these do not because of the scale and the wrapping at the edges.

[code]

These render fine at scale=50. Any tips for a clean plot at scale=110 and crs 54030 appreciated.

[2022-02-26 01:07] nmarchio commented on #29
Encountering the same bug and I believe there is still an issue with the URLs on the website. I am able to manually download from the website, but this could be related to the onclick event mentioned earlier in the thread.

This code:
`ocean <- ne_download(type = 'ocean', scale = 'large', category = 'physical', returnclass='sf')`

Returns:
[code]

Further when I try to download directly using the

[2022-02-27 17:20] nvkelso commented on #29
I suspect this was during a rare maintenance window on the Natural Earth server. 500s are server errors. Downloading that link works for me today.

If you switch over to the S3 URLs than that is much less likely to affect you.

[2022-03-03 12:22] aneal01 opened #54 "Error installing rnaturalearthhires"
Hi, I'm having trouble installing rnaturalearthhires. Any help that could be provided would be much appreciated.

Reproducible example is below.

The rnaturalearthhires package needs to be installed.
Install the rnaturalearthhires package?

1: Yes
2: No

Selection: 1
Installing the rnaturalearthhires package.
Error in value[[3L]](cond) :
  Failed to install the rnaturalearthhires package.
  Please

[2022-03-30 20:58] mps9506 commented on #54
It is kind of hard to tell from your formatting, but did you try:
[code]
Judging by this:
[code]
I'd guess there was a network or internet error.

I just gave it a go and it successfully installed:
[code]

[2022-03-30 21:10] mps9506 commented on #53
See: https://github.com/r-spatial/sf/issues/1372

This worked for me.
[code]

[2022-04-24 11:50] apal90 commented on #41
I am having the same problem. The function worked for me the first time after installation. But after I restarted RStudio, I kept getting this error. Any solutions?

[2022-04-26 12:41] sghignone opened #55 "is there a way to retrieve a country 'middle point'?"
In a ggplot plot based on whole world map, I'd like to place a geom_point (with size proportional to a variable) at a coordinate representing the 'center' of a selected list of countries. Is there a way to get the country middle point easily?
Thanks

[2022-05-11 18:13] mps9506 commented on #55
Use the `st_point_on_surface()` function in sf.

[code]

![image](https://user-images.githubusercontent.com/11282246/167918076-4454fb9f-0e97-40a2-8459-7b875b727386.png)

[2022-05-21 09:10] mesfind opened #56 "South Sudan data missing"
ssudan_sf <- ne_states(country = "South Sudan", returnclass = "sf")

Error in ne_states(country = "South Sudan", returnclass = "sf") :
  No such country (South Sudan) in the data

[2022-05-21 11:21] mesfind opened #57 "Is or isn't Puntland part of Somalia?"
When I'm accessing Somalia, the Puntland region map color is different from the main Somalia map.

[2022-05-31 23:31] dylancraven commented on #54
I have experienced similar problems as those mentioned by aneal01 above, for installing "rnaturalearth":
double free or corruption (out)

install.packages("rnaturalearth")
Aborted (core dumped)
ERROR: lazy loading failed for package ‘rnaturalearth’
* removing ‘/home/dylan/R/x86_64-pc-linux-gnu-library/4.2/rnaturalearth’
Warning in install.packages :
  installation of package ‘rnaturalearth’ had no

[2022-07-05 14:54] kendavidn opened #58 "Thank you!"
Just wanted to say thank you for this wonderful package. It is the backbone of a workshop that I and a colleague are running. Hope you can find a way to support its continuous development and upkeep going forward. Would be happy to chip in some support if there was a way.

[2022-11-28 23:57] sformel-usgs commented on #54
One possible culprit might be using http instead of https.  I received this same error (tried turning VPN off, restarting RStudio, etc.) and in the end was able to install it when I used:
[code]
instead of the http url suggested by the error message.  @aneal01 @dylancraven can you test this out?

[2022-11-29 19:54] adamkemberling opened #59 "Virginia Eastern Shore Missing"
The section of Virginia that is North of the Chesapeake Bay bridge is missing from the Virginia polygon (Fisherman Island Nat. Wildlife refuge to Chincoteague).

For a possible swap in, or for anyone seeking a quick-fix alternative R-package based polygon that has it see {rgeoboundaries}: https://github.com/wmgeolab/rgeoboundaries

[2022-11-30 19:33] s2t2 commented on #54
Tried so many times using so many strategies to install this package. But no luck.

[2022-11-30 19:35] s2t2 commented on #41
I have tried so many different strategies to just install this package, but it never succeeds.